{% extends "base.html" %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h2 class="text-aling-center"><strong> Nuestra Historia</strong></h2>
<p class="text-aling-center">Es una historia muy larga! Tienes tiempo? Te quedas un ratico para que te lo contemos?</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
<p class="text-aling-center">Blah blah blah blah</p>
</div>
</div>
{% endblock %}